<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/controller.js" type = "text/javascript"></script>
    <link href = "assets/login.css" type = "text/css" rel = "stylesheet"/>
    <title>registration</title>
<body>
    <!-- add submit type and redirect url-->
    <form class = 'sign_in'>
        <h4>Start making your timetable anytime, anywhere ! </h4> <br>
        <input type ='text' name = 'username' placeholder="username"><br>
        <input type ='text' name = 'password' placeholder="password"><br>
        <input class = "login_button" type ='submit' value = 'Log in'><br>
        <div class = "newToTimetable">New to Timetable?<a href = "registration"> Click here to sign up </a></div>   
        <a href = "/process" ><input type = 'button' value ='go to process'></a>
    </form>
</body>
</head>