<!DOCTYPE html>
<head>
    <title>registration</title>
<body>
    <!-- add submit type and redirect url-->

    <form method ="POST">
        username:<br>
        <input type ='text' name = 'username'><br>
        password:<br>
        <input type ='text' name = 'password'><br>
        <input type ='submit' value = 'Submit'>
    </form>
</body>
</head>