<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/processCL.js" type = "text/javascript"></script>
    <title> result </title>
<body>
    <h1>Here is some of the time table suggested for you!</h1>
    <a href = 'home_page'><button> return </button></a>
    <button class= "result" >click here to show result!</button>
    <p class = "show"></p> 
</body>
</head>