<!DOCTYPE html>
<head>
    <title> creating the perfect timetable</title>
    <link href = "assets/welcome page.css" type = "text/css" rel = "stylesheet"/>
<body>
    <!--TODO: create a nav bar-->
    <div class = "welcome">
        <h1>Make your daily life <strong>easier</strong> with the best generator tools available</h1>
        <div class = "introduction">
            <h2>Start balancing your <strong>work</strong> and your <strong>hobby</strong> that you really <strong>enjoy</strong></h2>
            <h4>Tired of losing track of time everyday ?</h4>
            <h4>Stop wasting precious time on mindlessly repeating the same thing everyday ! </h4>
            <h4>Do not stay gate from the <strong>activities that important to you</strong></h4>
        </div>
        
        <p class ="left"><a href = "registration" >Sign in for more feature </a></p>
        <p class ="right"><a href = "process" >Start now and create your first timetable</a></p>
    </div>
</body>
</head>